// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .wallpaper{
background: url("http://s4.postimg.org/x5eep2nn1/Mock_Sample_copy.jpg") no-repeat center;
margin-top: 1px;

background-size: 100%;
min-height: 1900px;
}