// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .main_page{
  /*background-color: black;*/

background: url("http://s3.postimg.org/dtpjvqsvn/Mock_Sample_copy.jpg") no-repeat center;
background-size: 100%;
min-height: 1900px;
margin-bottom: 50px;
}