<div class="main_page">
<p>    
 <div class="page-header">
<h3>Connecting Developers/Designers. <small>at GigDevInternationl</small></h3>
</div>
	    <div class="hero-unit"> 
		   <h3>Find Gigs...build your porfolio/get donations.</h3>
		    <h3>Find Web Designers/Developers...get your site built!</h3>
		    <a class="btn btn-primary btn-large">
		    Search Gigs today
		    </a>
		    </p>
	    </div>
	
		<p>
		<p>
		<div class="row">
		  <div class="span3">
		  </div>	
	      <div class="span4"><a class="btn btn-primary btn-large", href="/users/sign_up">Find Web  Designers/Developers</a>
	      </div>
	      <div class="span5"><a class="btn btn-primary btn-large", href="/users/sign_up">Find Cool Gigs/build your portfolio</a>
	      </div>
	    </div>

	   
	   
</div> 